<div class="row">

  <div class="col-md-3" style="margin-left:1.2rem;">Select monthly revenue</div>
  <div class="col-md-3" style="margin-left: 0px;">Select color</div>
</div>
<div class="row container w-50" *ngFor="let item of monthLyRevenue;let i=index">
  <div class="col-md-6">

    <label>{{item.name}}</label>
    <input class="form-control" type="text" [(ngModel)]="item.y">
  </div>
  <div class="col-md-6">
    <label>Color</label>
    <select [(ngModel)]="item.color" class="form-control">
      <option *ngFor="let color of colors">{{color}}</option>

    </select>


  </div>
</div>

<div class="col-md-3" style="margin-left:1.2rem;">
  <h5>Graph Type</h5>
  <input type="radio" name="graphType" [(ngModel)]="grphType" value="pie">
  &nbsp;
  <label>Pie</label>
  <br>
  <input type="radio" name="graphType" [(ngModel)]="grphType" value="column">
  &nbsp;
  <label>Bar</label>
  <br>
  <input type="radio" name="graphType" [(ngModel)]="grphType" value="line">
  &nbsp;
  <label>Line</label>
</div>
<button type="button" class="btn btn-primary" (click)="generateReport()">Generate Report</button>



<div class="col-6">
  <div id="chart-column"></div>
</div>

<br>
<br>
<br>

<div class="row">


<div class="col-md-6">
  <h6 style="padding-left: 10px;">Which of the following answers is an invalid template statement?</h6> 
  <br>
<img src="../assets/mcq image.jpeg"  style="height: 400px; width: 400px ; padding-left: 20px; " alt="">
</div>


<div class="col-md-6">
<h5>SELECT ONLY ONE</h5>

<br>
<div class="container">
<div class="form-check cssClassForRadio"  >
  <input type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked (click)="radionButtonAnswers('1stOption')">
  <label  for="exampleRadios1">
    Answer 1
  </label>
</div>
<div class="form-check  cssClassForRadio">
  <input  type="radio" name="exampleRadios" id="exampleRadios2" value="option2" (click)="radionButtonAnswers('2ndOption')">
  <label for="exampleRadios2">
    Answer 2
  </label>
</div>
  <div class="form-check cssClassForRadio"  >
    <input   type="radio" name="exampleRadios" id="exampleRadios3" value="option3" (click)="radionButtonAnswers('3rdOption')">
    <label  for="exampleRadios3">
      Answer 3
    </label>

    <i class="fa fa-check-circle"  *ngIf="radioButtonColor" style="font-size:30px;color:green; margin-left: 154px;"></i>
  </div>
    <div class="form-check cssClassForRadio">
      <input  type="radio" name="exampleRadios" id="exampleRadios4" value="option4"  (click)="radionButtonAnswers('4thOption')">
      <label  for="exampleRadios4">
        Answer 4
      </label>
    </div>
  </div>
  
</div>
</div>
