.cssClassForRadio{
    border: 1px solid #787878;
    border-radius: 3px;
    --padding-top: 15px;
    padding: 15px;
    --padding-start: 15px;
    padding-bottom: 10px;
    margin: 10px;
    width: 50%;
    height: 15%;
    padding: 15px;
}
.green{
    border: 1px solid greenyellow;
    border-radius: 3px;
    --padding-top: 15px;
    padding: 15px;
    --padding-start: 15px;
    padding-bottom: 10px;
    margin: 10px;
    width: 50%;
    height: 15%;
    padding: 15px;
}
.red{
    border: 1px solid red;
    border-radius: 3px;
    --padding-top: 15px;
    padding: 15px;
    --padding-start: 15px;
    padding-bottom: 10px;
    margin: 10px;
    width: 50%;
    height: 15%;
    padding: 15px;
}

